* text=auto eol=lf

*.sh text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.patch text eol=lf -whitespace

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
